/*
.background {
    -fx-background-color: #1d1d1d; 
}
*/
/*
.label {
    -fx-font-size: 10pt;
    -fx-font-family: "Segoe UI Semibold";
    -fx-text-fill: black;
    -fx-opacity: 0.6;
}
*/

.button {
 -fx-text-fill: white;
 -fx-font-family: "Arial Narrow";
 -fx-font-weight: bold;
 -fx-background-color: linear-gradient(#61a2b1, #2A5058);
 -fx-effect:dropshadow(three-pass-box ,rgba(0,0,0,0.6),5,0.0,0,1);
}
.button:hover {
-fx-background-color: linear-gradient(#2A5058, #61a2b1);
}
.button:hover {
    -fx-background-color: #3a3a3a;
}

.button:pressed, .button:default:hover:pressed {
  -fx-background-color: white;
  -fx-text-fill: #1d1d1d;
}

.button:focused {
    -fx-border-color: white, white;
    -fx-border-width: 1, 1;
    -fx-border-style: solid, segments(1, 1);
    -fx-border-radius: 0, 0;
    -fx-border-insets: 1 1 1 1, 0;
}

.button:disabled, .button:default:disabled {
    -fx-opacity: 0.4;
    -fx-background-color: #1d1d1d;
    -fx-text-fill: white;
}

.button:default {
    -fx-background-color: -fx-focus-color;
    -fx-text-fill: #ffffff;
}

.button:default:hover {
    -fx-background-color: derive(-fx-focus-color,30%);
}





.label {
 -fx-font-size: 12px;
 -fx-font-weight: bold;
 -fx-text-fill: #333333;
 -fx-effect: dropshadow( gaussian , rgba(255,255,255,0.5),0,0,0,1 );
}




.label-bright {
    -fx-font-size: 11pt;
    -fx-font-family: "Segoe UI Semibold";
    -fx-text-fill: white;
    -fx-opacity: 1;
}

.label-header {
    -fx-font-size: 32pt;
    -fx-font-family: "Segoe UI Light";
    -fx-text-fill: white;
    -fx-opacity: 1;
}


.menu .label{     -fx-text-fill: black;}

.menu-bar{
 
/*  -fx-background-color: aliceblue; */
  -fx-border-color:  darkgray;
 -fx-border-width: 1

}

.menu-bar .label {
    -fx-font-size: 12 pt;
   
  -fx-text-fill: black;
   
}


.menu:hover {
    -fx-background-color: #bc784e;
}
/*
.menu-item .label{
     -fx-font-size: 25 pt;
    -fx-label-line-length: 8;
      -fx-background-color: #cc66ff;
}

*/

.tab .tab-label { 
  /*  -fx-alignment: CENTER;  */
   /* -fx-text-fill: #828282; */
   /* -fx-text-fill: black;*/
    -fx-font-weight: bold;
    -fx-font-size: 12px;
    
}



.table-view {
    -fx-base: #1d1d1d;
    -fx-control-inner-background: #1d1d1d;
    -fx-background-color: #1d1d1d;
    -fx-table-cell-border-color: transparent;
    -fx-table-header-border-color: transparent;
    -fx-padding: 5;
}

.table-view .column-header-background {
    -fx-background-color: transparent;
}

.table-view .column-header, .table-view .filler {
    -fx-size: 35;
    -fx-border-width: 0 0 1 0;
    -fx-border-color: 
        transparent
        transparent
        derive(-fx-base, 80%) 
        transparent;
    -fx-border-insets: 0 10 1 0;
}

.table-view .column-header .label {
    -fx-font-size: 20pt;
    -fx-font-family: "Segoe UI Light";
    -fx-text-fill: white;
    -fx-alignment: center-left;
    -fx-opacity: 1;
}

.table-view:focused .table-row-cell:filled:focused:selected {
    -fx-background-color: -fx-focus-color;
}


.text-area {
    -fx-background-insets: 0;
    -fx-background-color: transparent, white, transparent, white;
    -fx-background-radius: 0, 0, 0, 0;

    -fx-box-border: none;
    -fx-focus-color: -fx-control-inner-background;
    -fx-faint-focus-color: -fx-control-inner-background;
    -fx-text-box-border: -fx-control-inner-background;
    -fx-border-width: -1;
}

.text-area .content {
    -fx-background-color: transparent, white, transparent, white;
}

.text-area .scroll-bar:horizontal .thumb,
.text-area .scroll-bar:vertical .thumb {
    -fx-background-color:derive(black,90%);
	-fx-background-insets: 2, 0, 0;
	-fx-background-radius: 2em;

}


/* The main scrollbar **thumb** CSS class which we drag every time (movable) */
.tree-view .scroll-bar:horizontal .thumb,
.tree-view .scroll-bar:vertical .thumb {
    -fx-background-color:derive(black,90%);
	-fx-background-insets: 2, 0, 0;
	-fx-background-radius: 2em;

}









titled-pane .title {
    -fx-alignment: center-left; 
    -fx-cursor: "hand";
    -fx-focus-color: #555555;
    -fx-font-size: 12pt; 
    -fx-font-weight: bold; 
    -fx-text-fill: white; 
}

.titled-pane:expanded { 
    -fx-text-fill: white; 
}

.titled-pane:expanded > .title {
    -fx-base: #555555; 
    -fx-text-fill: white; 
}

.titled-pane:hover > .title {
    -fx-base: #555555; 
}

.titled-pane:hover { 
    -fx-text-fill: white; 
}

.titled-pane .arrow {
    -fx-opacity: 1;
}

/*

.tree-view, .tree-cell {
    -fx-background-color: black ;
    -fx-text-fill: white ;
}
.tree-cell:expanded, .tree-cell:sub-tree-item {
    -fx-background-color: #404040 ;
}
.tree-cell:selected {
    -fx-font-weight: bold ;
}
.tree-cell {
    -fx-padding: 0.75em 0em 0.75em 0em ;
}
.tree-cell:sub-tree-item {
    -fx-padding: 0.25em ;
}



*/



.tree-view .increment-button ,.mylistview .decrement-button {
    -fx-background-color:transparent;
	-fx-background-radius: 2em;

}

/* The main scrollbar **track** CSS class  */
.tree-view .scroll-bar:horizontal .track,
.tree-view .scroll-bar:vertical .track{
	-fx-background-color: transparent;
	-fx-border-color:derive(gray,80%);

	-fx-background-radius: 2em;
	-fx-border-radius:2em;
}

/* The main scrollbar **thumb** CSS class which we drag every time (movable) */
.tree-view .scroll-bar:horizontal .thumb,
.tree-view .scroll-bar:vertical .thumb {
    -fx-background-color:derive(black,90%);
	-fx-background-insets: 2, 0, 0;
	-fx-background-radius: 2em;

}



.split-pane:horizontal > * > .split-pane-divider {
    -fx-border-color: transparent #1d1d1d transparent #1d1d1d;
    -fx-background-color: transparent, derive(#1d1d1d,20%);
}

.split-pane {
    -fx-padding: 1 0 0 0;
}



 
