/dist/
/log/
/store/
/stage/
/cache/
/tmp/
/upload/
/node_modules/
/bower_components/
/Setup
*.hi
*.o
*.dyn_hi
*.dyn_o
*.pyc
/npm-debug.log
/databrary.conf
/unreset.dump
.idea
/dbrary/
/logs/
/macros/
/media/
/project/
/target/
.DS_Store
*.swp
/tags
/.cabal-sandbox/
cabal.sandbox.config
*~
